.jumbotron {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px; }

.row {
  padding-left: 30px;
  padding-right: 20px; }

.thumbnail {
  height: 25em;
  width: 100%;
  overflow: hidden;
  padding: auto; }

.thumbnail img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
